<!DOCTYPE html>
<html>
    <head>
        <title>Blue Dashboard</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link id="data-uikit-theme" rel="stylesheet" href="css/uikit.css"/>
        <script src="js/jquery.js"></script>
    </head>
    <body>

        <div class="tm-section tm-section-color-1 tm-section-colored">
            <div class="uk-container uk-container-center uk-text-center">
                <p class="uk-text-large">
                    <br class="uk-hidden-small"/>
                    Blue Dashboard
                    <br class="uk-hidden-small"/>
                </p>
            </div>
        </div>

        <div class="tm-section tm-section-color-2 tm-section-colored">
            <div class="uk-container uk-container-center uk-text-center">
                <div class="uk-vertical-align-middle" style="width: 600px; margin-top:20px; margin-bottom:20px;">
                    <div id="errorAlerts"></div>
                    <form id="contactForm" method="POST" action="" class="uk-panel uk-panel-box uk-form">

                        <div class="uk-form-row">
                            <label style="font-size: 14px;">Host Name</label>
                            <input class="uk-width-1-1" name="hostName" type="text" id="hostName" th:value="${hostName}"/>
                        </div>

                        <div class="uk-form-row">
                            <label style="font-size: 14px;">Port</label>
                            <input class="uk-width-1-1" name="port" type="text" id="port" th:value="${port}" readonly="readonly"/>
                        </div>

                        <div class="uk-form-row">
                            <label style="font-size: 14px;">XML Message</label>
                            <textarea class="uk-width-1-1"  th:inline="text" rows="10" name="xmlMessage" style="text-align: left;" readonly="readonly">[[${xmlMessage}]]</textarea>
                        </div>

                        <div class="uk-form-row">
                            <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large" id="submit">Send Message</button>
                        </div>
                    </form>

                    <div class="uk-text-center" style="color: #000">
                        <p class="uk-text-large">
                            <br class="uk-hidden-small"/>
                            Server Response:
                            <label id="serverResponse" th:text="${serverResponse}"></label>
                            <br class="uk-hidden-small"/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="tm-footer">
            <div class="uk-container uk-container-center uk-text-center">
                <ul class="uk-subnav uk-subnav-line uk-flex-center">
                    <li><a href="#">© 2015. All Rights Reserved.</a></li>
                </ul>
            </div>
        </div>

    </body>
</html>
