.swiper-container {
	position:relative;
	z-index:1;
	overflow:hidden;
	margin:0 auto;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
}

.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-timing-function:ease;
	-moz-transition-timing-function:ease;
	-ms-transition-timing-function:ease;
	-o-transition-timing-function:ease;
	transition-timing-function:ease;
	-webkit-transition-duration:0;
	-moz-transition-duration:0;
	-ms-transition-duration:0;
	-o-transition-duration:0;
	transition-duration:0;
	-webkit-transition-property:-webkit-transform,left,top;
	-moz-transition-property:-moz-transform,left,top;
	-ms-transition-property:-ms-transform,left,top;
	-o-transition-property:-o-transform,left,top;
	transition-property:transform,left,top;
	-webkit-transform:translate3d(0px,0,0);
	-moz-transform:translate3d(0px,0,0);
	-ms-transform:translate3d(0px,0,0);
	-o-transform:translate3d(0px,0,0);
	-o-transform:translate(0px,0px);
	transform:translate3d(0px,0,0);
}

.swiper-free-mode>.swiper-wrapper {
	margin:0 auto;
	-webkit-transition-timing-function:ease-out;
	-moz-transition-timing-function:ease-out;
	-ms-transition-timing-function:ease-out;
	-o-transition-timing-function:ease-out;
	transition-timing-function:ease-out;
}

.swiper-slide {
	float:left;
}

.swiper-wp8-horizontal {
	-ms-touch-action:pan-y;
}

.swiper-wp8-vertical {
	-ms-touch-action:pan-x;
}

.swiper-container {
}

.swiper-slide {
}

.swiper-slide-active {
}

.swiper-slide-visible {
}

.swiper-pagination-switch {
}

.swiper-active-switch {
}

.swiper-visible-switch {
}





.swiper-container {
	width:100%;

	color:#fff;
	text-align:center;
}

.red-slide {
	background:#ca4040;
}

.blue-slide {
	background:#4390ee;
}

.orange-slide {
	background:#ff8604;
}

.green-slide {
	background:#49a430;
}

.pink-slide {
	background:#973e76;
}

.swiper-slide .title {
	margin-top:80px;
	margin-bottom:0;
	font-style:italic;
	font-size:42px;
	line-height:45px;
}



.swiper-visible-switch {
	background:#aaa;
}

.swiper-active-switch {
	background:#fff;
}