

body {
	background: url(/images/back.jpg) repeat;
	color:#656565;
}


hr {
	border: 0;
    height: 1px;
    background:rgba(185,185,185,1);
    

}

.wifire {
	background: url(/images/wifire.png);
	width: 185px;
	height: 67px;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 18px;
}





.textcontainer {
	padding:15px;
	max-width: 400px;
	margin:0 auto;
}



.container {
	width:100%;
	margin:0 auto;

}

label {
	padding-top:15px;
	padding-bottom:25px;
	display: block ;
}



.logo {
	width:100%;
	background: white;
	margin:0 auto;
	text-align: center;	
}

	.logo img {
		width:90%;
		max-width: 346px;
		padding:20px 5%;
	}

.title {
	width:80%;
	padding:20px 10%;
	text-align: center;
	background: #3f3f40;
	color: #FFFFFF;
}	

	.title h1 {
		margin:0px;
		padding:0px;
		text-transform: capitalize;
		font-weight:normal;
		font-size:1.5em
	}

.intro {
	width: 80%;
	padding: 30px 10% 20px 10%;
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	color: #f26706;
}	

	.intro h2 {
		margin:0px;
		padding:0px;
		font-weight:normal;
		font-size:1em
	}

.googlelang {
	margin-top: 20px;
margin-bottom: 26px;
}

.social ul li {
float: left;
}

.social ul {
width: 225px;
margin: 0 auto;
padding: 0px;
}

.googlelang a {
color: #135191;
}


.inputs {
	max-width: 400px;
	margin:0 auto;
	text-align: center;

}


.inputs h1 {
margin-bottom: 20px;
}
	
	.inputs input[type=text].date_input_full {
		width:90%;
		margin: 0px 5%;
		margin-bottom:10px;
		border:2px solid #ccc;
		padding: 10px;
		color:#333;
		border-radius:5px;
		text-align: center;
		-webkit-appearance: none;
	}
	
	.inputs input[type=text].date_input_1, .inputs input[type=text].date_input_2, .inputs input[type=text].date_input_3 {
		width:26%;
		margin:0px;
		border:2px solid #ccc;
		padding:0px;
		margin-bottom:10px;
		padding: 10px;
		color:#333;
		border-radius:5px;
		text-align: center;
		-webkit-appearance: none;
	}
	
	.inputs input[type=text].date_input_1 {margin-right:5%;}
	.inputs input[type=text].date_input_3 {margin-left:5%;}
	
	

	.inputs h4 {
		margin:0px;
		padding:15px 0px 4px 0px;
		font-weight:normal;
		font-size:1em;		
	}
	
	.inputs input[type=submit], .inputs input[type=button], .backbutton {
		width:100%;
		margin-bottom:10px;
		padding: 15px;
		background: #f26706;
		color:#ffffff;
		border:0px;
		font-size:22px;
		-webkit-appearance: none;

	}
	
	

.social {
	width:100%;
	max-width: 400px;
	padding:10px 0 25px 0;
	text-align: center;
	color:white;
	margin: 0 auto;
	text-align: center;
}	


.social a {
	width:51px;
	max-width:51px;
	height:50px;
	display:inline-block;
	margin:10px;
}	

.social .ico_fb {
	background: url(/images/ico_fb.png) no-repeat;
}	

.social .ico_tw {
	background: url(/images/ico_tw.png) no-repeat;
}	

.social .ico_yt {
	background: url(/images/ico_yt.png) no-repeat;
}	

.social .ico_in {
	background: url(/images/ico_in.png) no-repeat;
}		
	
	
	
.clear {clear:both;}	
	
	
.links {
	max-width:400px;
	margin:0 auto;
}	
	
	.links a {
		width:96%;
		display: block;
		height:17px;
		padding:15px 0 15px 4%;
		border-top: thin solid rgba(185,185,185,1);
		border-bottom: thin solid rgba(185,185,185,1);
		text-decoration: none;
		color:#656565;
		margin-top:-1px;
		background:url(/images/sprite.png) no-repeat right -75px;
	}

	.links a:hover {
		
		background:url(/images/sprite.png) no-repeat right -75px rgba(0,0,0,0.1);
	}	
	
	
.footer {
	margin:0 auto;	
}	
	
	.footer p {
		display: block;
		height:17px;
		padding: 18px 0 15px 0;
		border-top: thin solid rgba(185,185,185,1);
		border-bottom: thin solid rgba(185,185,185,1);
		text-decoration: none;
		color:#656565;
		margin-top:40px;
		background: rgba(0,0,0,0.1);
		font-size:12px;
		text-align: center;
	}	
	
.products {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	margin-top:40px;
	background: #3f3f40;

}


.swiper-slide img {width:100%}


.pagination {
	position:absolute;
	bottom:10px;
	left:10px;
	z-index:20;
}

.swiper-pagination-switch {
	display:inline-block;
	margin-right:5px;
	width:5px;
	height:5px;
	border-radius:8px;
	background:#f06932;
	opacity:.8;
	cursor:pointer;
}




@media screen and (max-width: 480px) {
	



}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	